
{% extends "base.html" %}
{% block content %}


<body>
{% if error_message %}
{{ error_message }}
{% endif %}

<div class="container col-md-4 col-md-offset-4" style="padding: 80px;">
<form action="/search" method="POST">
	<div class="form-group">
	<label>Address Line 1</label>
	<input type="text" name="addressLine1"><br>
	<label>Address Line 2</label>
	<input type="text" name="addressLine2"><br>
	<label>City</label>
	<input type="text" name="city">
	<label>State</label>
	<input type="text" name="state">
	<label>Zip Code</label>
	<input class= "form-control" "type=number" name="zipCode"><br>
	<input type="number" name="zipCode"><br>
	<input class="btn btn-primary btn-lg push-right" type="submit" value="Submit">
	
				</div>

		</form>

	</body>

</div>

{% endblock %}